<ion-header>

  <ion-navbar>
    <ion-title>{{type}} Tasks</ion-title>
    <ion-buttons start margin-right>
      <button ion-button icon-only color="primary" (click)="addNewTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
      <button ion-item
        (click)="onViewTask(task)">
        <ion-row>
          <ion-col text-left>
            <h2>{{ task.title | uppercase}}</h2>
          </ion-col>
          <ion-col text-right>
            <h3>{{ task.minutes }}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              {{ task.description }}
            </p>
          </ion-col>
        </ion-row>
      </button> 
       I see this <br/>is a long <br/> sentence here.
      <ion-item-options side="left">
        <button ion-button color="secondary"
          *ngIf="type == 'Today' || type == 'Month'"
          (click)="onMove(task,'Week')">
          Move to<br/>Week
        </button>
        <button ion-button color="secondary"
          *ngIf="type == 'Week'"
          (click)="onMove(task,'Month')">
          Move to<br/>Month
        </button>
        <button ion-button color="primary"
          *ngIf="type == 'Week'"
          (click)="onMove(task,'Today')">
          Move to<br/>Today
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger"
          (click)="onRemove(task)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
